<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>증명서 발급</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">

    <ul class="nav nav-underline issueCertificate">
        <li class="nav-item certificate">
            <a class="nav-link active" aria-current="page" href="#">증명서 발급</a>
        </li>
        <li class="nav-item bill">
            <a class="nav-link" href="#">영수증(계산서)발급</a>
        </li>
        <li class="nav-item prescription">
            <a class="nav-link" href="#">처방전 복사</a>
        </li>
        <li class="nav-item media">
            <a class="nav-link disabled" aria-disabled="true">영상자료</a>
        </li>
    </ul>

</div>

</body>
</html>